*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("https://web-static.wrike.com/cdn-cgi/image/width=900,format=auto/blog/content/uploads/2023/07/mediamodifier-I3HPUolh5hA-unsplash.jpg?av=940064cfac9931db27aae06470103b6a");
  background-size: cover;
  border: burlywood;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  vertical-align: bottom;
  
}

nav{
  background-color:rgba(207,210,213,0.5);
  height: 80px;
  padding: 30px;
  
}
#heading{
  color:rgb(2, 2, 2);
  font-size: 3rem;
}
@keyframes slideIn {
  from {
    transform: rotate(0deg) scale(0.5) ;
    opacity: 0;
  }
  to {
    transform: rotate(360deg) scale(1) ;
    opacity: 1;
  }
}
#formin{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

}
#elem{
  margin-right:550px;
}
form{
  background-color:rgba(255,255,255,0.1);
  height:540px;
  width:450px;
}
form div{
  padding: 19px;
}
#add{
  text-align: center;
}
button:hover{
  background-color: #e1d9f6;
}
button:active{
  background-color: rgb(188, 239, 222);
  color: rgb(10, 10, 10);
}
button{
  height: 50px;
  width:120px;
  border-radius: 5px;
  font-weight: bold;
}